::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.chat-list {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  height: 600px !important;
}

textarea {
  width: 100%;
}

li {
  list-style-type: none;
}

.active {
  width: 100%;
  padding: 25px;
  font-weight: 500;
  font-size: 1.2rem;
}

.chat-body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #0066cf;
}

.li-container {
  width: 100%;
  padding: 5px 20px;
}

.connected {
  color: #0066cf;
  padding-left: 25px;
}

.active-users {
  width: 5px;
  height: 5px;
  padding: 5px;
  background-color: green;
}
.user-row {
  width: 100%;
  padding-bottom: 10px;
  display: flex;
  border-bottom: 1px solid rgba(120, 130, 140, 0.13);
}

.main-wrapper {
  width: 100%;
}

.chat-description {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.box-title {
  padding: 20px;
}

.img-circle {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  margin-right: 15px;
}

.chat-modifier {
  width: 45px;
  height: 45px;
}

.chat-content {
  text-align: end;
  margin-bottom: 30px;
  margin-right: 15px;
}

.chat-left {
  margin-bottom: 30px;
  margin-right: 15px;
}

.chat-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: lightblue;
  padding: 5px 15px 5px 30px;
}

.chat-complete {
  display: flex;
  border-radius: 6px;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px 30px 5px 15px;
  background-color: lightgreen;
}
.color-danger {
  background-color: white;
}
.user-name {
  color: #c4c4c4;
}
.chat-time {
  font-size: 0.7rem;
  color: gray;
}

.reverse {
  display: flex;
  justify-content: flex-end;
}

.complete {
  display: flex;
  justify-content: flex-start;
}

.input-text {
  width: 100%;
  display: flex;
}

.wrapper {
  display: flex;
}

.open-panel {
  cursor: pointer;
  position: absolute;
  left: 0px;
  top: 30%;
  z-index: 100;
  background-color: #fff;

  -webkit-box-shadow: 1px 0 3px rgb(0 0 0 / 20%);
  box-shadow: 1px 0 3px rgb(0 0 0 / 20%);
  border-radius: 0 100px 100px 0;

  line-height: 1;
  font-weight: bold;
  padding: 20px 10px 20px 7px;
  outline: none;
  border: none;
}

.open-panel:focus {
  outline: none;
}

#arrow {
  display: none;
}

.overflow-panel {
  position: absolute !important;
  background: #ebebeb;
  width: 70%;
  height: 100%;
}

@media (max-width: 600px) {
  .chat-body {
    /* display: flex;
    height: 100vh; */
    height: auto !important;
    align-items: flex-start;
    margin-top: 30px;
    /* justify-content: center; */
  }

  #arrow {
    display: block;
  }
  .main-wrapper {
    width: 100%;
    margin: 0px;
  }
  .img-circle {
    width: 40px;
    height: 40px;
  }
  .hide-panel {
    display: none;
  }
  .full-chat {
    width: 100% !important;
  }
}
